/node_modules
node_modules

dev
/dev

dist
/dist

build
/build

yarn-error.log

tmp
/tmp

coverage
coverage/*

# Preview build (PR deploy)
preview-build

# Playwright
playwright-report/
test-results/