@container (max-width: 875px) {
  #bukazu-app #results {
    padding: 8px;
  }
}
#bukazu-app #results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;

  .bu-paginator {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0 0;
    .pagination {
      display: flex;
      list-style: none;
      li {
        padding: 8px;
        a {
          text-decoration: none;
          color: #000;
        }
        &.disabled {
          a {
            color: rgba(0, 0, 0, 0.5);
          }
        }
        &.active {
          border: 1px solid var(--bukazu-button);
          a {
            color: #000 !important;
          }
        }
      }
    }
  }
}

#bukazu-app #results.list {
  grid-template-columns: 1fr;
}

#bukazu-app #results .object-inner {
  color: rgba(26, 25, 25, 1);
  border: 1px solid rgba(69, 74, 83, 0.2);
  border-radius: 5px;
}
