# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Create new version PR

on:
  workflow_dispatch:
    inputs:
      update_type:
        required: true
        description: patch/minor/major
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
         contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm test

  publish-npm:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          registry-url: https://registry.npmjs.org/
      - name: Bump version
        run: |
          npm version ${{ inputs.update_type }} --no-git-tag-version    
      - name: Get new version
        run: echo "VERSION=$(jq -r .version package.json)" >> $GITHUB_ENV
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          title: "chore: Bump version to v${{ env.VERSION }}"
          body: | 
            "This PR bumps the package version to v${{ env.VERSION }}."
          commit-message: "chore: Bump version to v${{ env.VERSION }}"
          labels: version-bump, automated-pr
          branch: "releases/v${{ env.VERSION }}"
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: Release v${{ env.VERSION }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
